/* for debugging */


/* Label, TextField, Button, PasswordField, ComboBox, DatePicker{*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: #fff;*/
/*}*/

/* VBox {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: red;*/
/*}*/

/*HBox {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: blue;*/
/*}*/

/*GridPane {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: green;*/
/*}*/






/* generic classes */
Button{
    -fx-cursor: hand;
}

Button:hover{
    -fx-opacity: 0.5;
}


ScrollPane,
ScrollPane > .viewport{
    -fx-background-color: transparent;
}


/* Table */
.table-view .column-header{
    -fx-background-color: #515050;
}
.table-view .column-header .label{
    -fx-text-fill: #ffff;
}
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical{
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

/* bar chart */
.axis-label{
    -fx-text-fill: #BEB9B9;
}
.default-color0.chart-legend-item-symbol{
    -fx-background-color: #13880d;
}

.default-color1.chart-legend-item-symbol{
    -fx-background-color: #ba2f2f;
}

/* text */

/*.text-size-lg{*/
/*    -fx-font-size: 36px;*/
/*}*/

/*.text-size-md{*/
/*    -fx-font-size: 24px;*/
/*}*/

/*.text-size-sm{*/
/*    -fx-font-size: 12px;*/
/*}*/

.text-size-lg {
    -fx-font-size: 2em;
}

.text-size-md {
    -fx-font-size: 1.5em;
}

.text-size-sm {
    -fx-font-size: 0.8em;
}




.text-white{
    -fx-text-fill: #fff;
}

.text-light-red{
    -fx-text-fill: #ba2f2f;
}

.text-light-green{
    -fx-text-fill: #33ba2f;
}

.text-light-gray{
    -fx-text-fill: #BEB9B9;
}

.text-weight-700{
    -fx-font-weight: 700;
}

/* background colors */
.bg-light-blue{
    -fx-background-color: #377BE1;
}

.bg-light-red{
    -fx-background-color: #e13742;
}

/* text decorations */
.text-underline{
    -fx-underline: true;
}

/* padding */
.padding-10px{
    -fx-padding: 10px;
}

/* border */
.rounded-border{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}



.border-light-gray{
    -fx-border-width: 5px;
    -fx-border-color: #515050;
}

/* custom classes */
.main-background{
    -fx-background-color: #383838;
}

.header{
    -fx-font-size: 96px;
    -fx-font-weight: 300;
}

.field-background{
    -fx-background-color: #515050;
}

.link-text{
    -fx-cursor: hand;
}

.link-text:hover{
    -fx-text-fill: #4265c7;
}


.dashboard-padding{
    -fx-padding: 33px, 43px;
}

.date-picker .text-field{
    -fx-background-color: #515050;
    -fx-text-fill: #BEB9B9;
}


/*Combo Box 'Transaction Dialog'*/
.combo-box .list-cell{
    -fx-background-color: #515050;
    -fx-text-fill: #BEB9B9;
}

.combo-box .list-cell:hover{
    -fx-opacity: 0.5;
}

/* Transparent ScrollPane background */
.transparent-scrollpane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Remove the default white background of the ScrollPane's viewport */
.transparent-scrollpane > .viewport {
    -fx-background-color: transparent;
}

/* Optional: make scrollbars minimal & modern */
.transparent-scrollpane .scroll-bar:vertical,
.transparent-scrollpane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/* Style the scrollbar thumb (the draggable bar) */
.transparent-scrollpane .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5px;
}

/* On hover, make the scrollbar thumb a bit more visible */
.transparent-scrollpane .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

/* Remove ugly border when focused */
.transparent-scrollpane:focused {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
